<!DOCTYPE html>
<html lang="zh">

@include("/common/_header.html"){}

<body class="page-body boxed-container">
	<nav class="navbar horizontal-menu navbar-fixed-top">
		<div class="navbar-inner">
			<div class="navbar-brand">
				<a href="/" class="logo"> <img
					src="/static/img/logo2x2.png" width="100%" alt=""
					class="hidden-xs"> <img src="/static/img/logo2x.png"
					width="100%" alt="" class="visible-xs">
				</a>
			</div>
			<div class="navbar-mobile-clear"></div>
		</div>
	</nav>
	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		<div class="main-content" style="">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- 关于网站 -->
						<h4 class="text-gray">关于网站</h4>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<blockquote>
										<p>“币圈一天，人间一年”，说的是这个圈子里面的变化快，讲的是节奏，赚的是信息差跟耐心</p>
										<p>下面这段虽然是玩笑，但也能说明这个圈子所需要的储备有多大</p>
										<p>在区块链的圈子里，你得会梯子，会英语，懂政治，懂经济，懂金融，懂项目运营，懂技术跟踪，会看GitHub,代码！</p>
										<p>还得有一双火眼金睛，避开空气币，垃圾币，传销币，圈钱币！避开垃圾代投，骗子，还得心理素质过硬，应对全球性质的各种利空！</p>
										<p>经历一些各国交易所关停的事件！现在还要懂DEFI，元宇宙，打游戏，NFT，GAMEFI！</p>
										<p>最后要懂心理学，懂人性，懂挖矿，懂算力！懂易经风水，懂阴阳五行，懂四柱八字，懂麻衣神相，懂奇门遁甲，懂梅花易数，懂六爻八卦，懂磁场，懂数字能量，懂姓名学，等等等等，等等等等.
										<p>.......这么高的门槛，一般人玩不了</p>
										<p>这里是个人整理的比较熟悉和常用的网址，以方便个人平时使用，如果你有幸看到，对于站外信息的真实性及有效性，需要自行甄辨噢。</p>
										<p>强调下这只是为了方便个人使用，如果你觉得这个网站实用可以自行收藏。</p>
										<p>如果你有什么好的站点想跟我分享，可以通过这里：<u><a href="https://docs.google.com/forms/d/e/1FAIpQLSdaoODKo5Miy5c6usUo2sEvFi32SmXtBmNtqfkHTvhpo7lgDg/viewform" target="_blank">提交给我</a></u> 或通过以下方式打赏本站</a></u> 。</p>
									</blockquote>
								</div>
							</div>
							<!-- 打赏地址 -->
							<h4 class="text-gray">打赏本站</h4>
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-12">
										<blockquote>
											<p><i class="fa fa-check-square" style="color:darkseagreen"></i> ETH链接收地址</p>
											<p>0x23AB66eC4C03c9305D1c5DCbb889fb0EfbbB0E44</p>
											<br>
											<p><i class="fa fa-check-square" style="color:darkseagreen"></i> HECO链接收地址</p>
											<p>0x23AB66eC4C03c9305D1c5DCbb889fb0EfbbB0E44</p>
											<br>
											<p><i class="fa fa-check-square" style="color:darkseagreen"></i> BSC链接收地址</p>
											<p>0x23AB66eC4C03c9305D1c5DCbb889fb0EfbbB0E44</p>
											<br>
											<p><i class="fa fa-heart" style="color:red"></i> 感谢支持！</p>
										</blockquote>
									</div>
								</div>
							</div>
							<!-- 关于站长 -->
							<h4 class="text-gray">关于站长</h4>
							<div class="row">
								<div class="col-sm-4">
									<div class="xe-widget xe-conversations box2 label-info" onclick="window.open('https://twitter.com/corewwtclrobot', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="">
										<div class="xe-comment-entry">
											<a class="xe-user-img">
												<img src="../img/layout/wwtclrobot.png" class="img-circle" width="40" alt="">
											</a>
											<div class="xe-comment">
												<a href="../about#" class="xe-user-name overflowClip_1">
													<strong><i class="fa fa-twitter" style="color: #1D9BF0;font-size: medium;"></i>&nbsp;wwtclrobot</strong>
												</a>
												<p class="overflowClip_2">2015年入坑，2018年开始囤币，2021年布局量化。</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-sm-12">
											<br>
											<blockquote>
												<p>
													<i class="fa fa-ban" style="color:red"></i>  本站不为禁止加密货币的国家/地区居民提供服务。如果你来自这些地区，请自行退出并投案自首！
												</p>
												<p>
													<a href="https://github.com/wecando168/WebStack-Guns-WWT"
													   marked="1"> GitHub 开源项目地址 </a>
												</p>
												<!--p>
												    <i class="fa fa-weixin" aria-hidden="true" style="color: #09bb07;"></i>&nbsp;微信：hodling
												</p-->
											</blockquote>
										</div>
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Footer -->
			<footer class="main-footer sticky footer-type-1 fixed">
				<div class="footer-inner">
					<div class="footer-text">
						&copy; 2018~2022 <a href="/"><strong>CLRobot</strong></a> design by <strong>多维量化</strong></a>
					</div>
					<div class="go-up">
						<a href="#" rel="go-top"> <i class="fa-angle-up"></i>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>